<div class="container">
  <div class="row mb-25 mt-5">

    <blockquote class="text-center blockquote col-lg-3">
      <h3 class="mb-1">Lion OverFlow</h3>
      <img id="lion" src="lion.png" alt="lion">
      <footer class="blockquote-footer">Este sitio es asombroso! <cite title="Source Title"></cite>
      </footer><br>          
    </blockquote>  

    <div class="text-center col-lg-5">
     <a><%= link_to "<span class='ion-plus'></span> Formular una Pregunta".html_safe, "/questions/new", class: "btn btn-danger btn-lg btn-block" %></a><hr>
      <div class="btn btn-info btn-sm text-center">Lions Registrados
         <span class="badge badge-light"> <%= User.count %>  </span>
      </div> 
    </div>
    <br>
    <blockquote class="blockquote col-lg-4"><br>
      <footer class="blockquote-footer">
        <b>Así es como funciona:</b>
        <ol>
         <li>
          Cualquiera puede formular una pregunta
        </li>
        <li>
          Cualquiera puede responder
        </li>
        <li>
          Se vota a favor de las mejores respuestas
        </li>
      </ol>
      <div class="btn btn-light border-warning btn-block"><span class="h4 ion-stats-bars"></span>
       <small class="col-2"><b><%= @questions.count %> </b>preguntas</small>
       <small class="col-2"><b><%= Answer.count %> </b>respuestas</small> 
     </div>
   </footer>
 </blockquote>
</div>